<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkout" (ngSubmit)="onSubmit()">
                <!-- client data-->
                <div formGroupName="checkoutFormGroup" class="form-area">
                    <h3>Customer Data</h3>

                    <div class="row">
                        <div class="col-md-2"><label>First Name</label>
                        </div>
                        <div class="col-md-9">
                            <mat-form-field appearance="standard">
                                <input type="text" formControlName="firstName" matInput placeholder="First Name">
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2"><label>Last Name</label>
                        </div>
                        <div class="col-md-9">
                            <mat-form-field appearance="standard">
                                <input type="text" formControlName="lastName" matInput placeholder="LastName">
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2"><label>Email</label>
                        </div>
                        <div class="col-md-9">
                            <div class="example-container">
                                <mat-form-field appearance="fill">
                                    <mat-label>Enter your email</mat-label>
                                    <input matInput placeholder="pat@example.com" formControlName="email" required>

                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <!--shipiiiiiiiiiiiiiiiiiiiiiiiiiiiiing-->
                </div>

                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Data</h3>

                    <div class="row">
                        <div class="col-md-2"><label>country</label>
                        </div>
                        <div class="col-md-9">
                            <mat-form-field appearance="standard">
                                <select formControlName="country" matNativeControl required>
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}
                                    </option>

                                </select>
                            </mat-form-field>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><label>street</label>
                            </div>
                            <div class="col-md-9">
                                <mat-form-field appearance="standard">
                                    <input type="text" formControlName="street" matInput placeholder="street">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2"><label>city</label>
                            </div>
                            <div class="col-md-9">
                                <mat-form-field appearance="standard">
                                    <input type="text" formControlName="city" matInput placeholder="city">

                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2"><label>state</label>
                            </div>
                            <div class="col-md-9">
                                <mat-form-field appearance="standard">
                                    <input type="text" formControlName="state" matInput placeholder="state">

                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                        <div class="col-md-2"><label>zipCode</label>
                        </div>
                        <div class="col-md-9">
                            <div class="example-container">
                                <mat-form-field appearance="fill">
                                    <input matInput placeholder="zipCode" formControlName="zipCode" required>

                                </mat-form-field>
                            </div>
                        </div>
                    </div>



                </div>

             <!--creditCard creditCard creditCard creditCard-->
             <div formGroupName="creditCard" class="form-area">
                <h3>Credit Card</h3>

                <div class="row">
                    <div class="col-md-2"><label>cardType</label>
                    <div class="col-md-9">
                        <mat-form-field appearance="standard">
                            <select placeholder="" formControlName="cardType" matNativeControl required>
                                <option value="Visa">Visa</option>
                                <option value="Mastercard">Mastercard</option>


                            </select>
                        </mat-form-field>
                    </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>nameOncard</label>
                        </div>
                        <div class="col-md-9">
                            <mat-form-field appearance="standard">
                                <input type="text" formControlName="nameOncard" matInput placeholder="nameOncard">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>cardNumber</label>
                        </div>
                        <div class="col-md-9">
                            <mat-form-field appearance="standard">
                                <input type="text" formControlName="cardNumber" matInput placeholder="cardNumber">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>securityCode</label>
                        </div>
                        <div class="col-md-9">
                            <mat-form-field appearance="standard">
                                <input type="text" formControlName="securityCode" matInput placeholder="securityCode">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                    <div class="col-md-2"><label>expirationMonth</label>
                        <div class="col-md-9">
                            <mat-form-field appearance="standard">
                                <mat-label>select a expirationMonth</mat-label>
                                <select placeholder="" formControlName="expirationMonth" matNativeControl required>
                                    <option *ngFor="let month of creditCardMonths">
                                        {{ month }}
                                    </option>
                                </select>
                            </mat-form-field>
                        </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>expirationYear</label>
                            <div class="col-md-9">
                                <mat-form-field appearance="standard">
                                    <mat-label>select a expirationYear</mat-label>
                                    <select placeholder="" formControlName="expirationYear" matNativeControl required>
                                        <option *ngFor="let year of creditCardYears">
                                            {{ year }}
                                        </option>
                                    </select>
                                </mat-form-field>
                            </div>
                            </div>
                        </div>

                
</div>
                    <!--Review Order
            <div class="form-area">
                <h3>Here is your order details</h3>

                <p>Total Quantity : {{totalQuantity}}</p>
                <p>Total Price : {{totalPrice | currency: 'USD'}}</p>
            </div>
-->
                <!--Submit-->
                <div class="text-center">
                    <button  mat-raised-button color="accent">Purchase</button>
                </div>
            </form>
        </div>
    </div>
</div>